<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="frontend/partials/head(title='My messages')">
</head>
<!--<div th:include="frontend/partials/head"></div>-->
<body>
	<div th:replace="frontend/partials/menu"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-8">

				<h1>My message rooms</h1>

				<table class="table table-stripped">
                    <tr>
                        <th>User</th>
                        <th>Last message</th>
                        <th>Job</th>
                        <th> </th>
                    </tr>

                    <tr th:each="message_room : ${rooms}">
                        <td th:if="${message_room.sender.id == my_id}" th:text="${message_room.receiver.name}"></td>
                        <td th:if="${message_room.sender.id != my_id}" th:text="${message_room.sender.name}"></td>
                        
                        <td>
                        	<span th:if="${message_room.lastMessage != null}" 
                        		  th:text="${message_room.lastMessage.created}"></span>
                       		<br />
                        	<i th:if="${message_room.lastMessage != null}">
	                        	<span th:if="${#strings.length(message_room.lastMessage.text) &lt;= 20}" th:text="${message_room.lastMessage.text}"></span>
	                        	<span th:if="${#strings.length(message_room.lastMessage.text) &gt; 20}" th:text="${#strings.substring(message_room.lastMessage.text,0,20)}"></span>
	                        	...
                        	</i>
                        </td>
                        <td>
                        	<div th:if="${message_room.job != null}" th:text="${message_room.job.title}">-</div>
                       	</td>
                        <td>
                        	<!-- <div th:if="${message_room.job != null}">
	                        	<a th:if="${message_room.sender.id == my_id}"
	                        	   th:href="@{ '/message/job_room/' + ${message_room.job.id} + '/' + ${message_room.receiver.id} }"
	                        	   class="btn btn-primary">
	                        	   		<i class="glyphicon glyphicon-envelope"> </i>
	                       				Open
	                        	</a>
	                        	<a th:if="${message_room.sender.id != my_id}"
	                        	   th:href="@{ '/message/job_room/' + ${message_room.job.id} + '/' + ${message_room.sender.id} }"
	                        	   class="btn btn-primary">
	                       				<i class="glyphicon glyphicon-envelope"> </i>
	                       				Open
	                        	</a>
                        	</div>
                        	<div th:if="${message_room.job == null}">
                        		<a th:if="${message_room.sender.id == my_id}"
	                        	   th:href="@{ '/message/room/' + ${message_room.receiver.id} }"
	                        	   class="btn btn-primary">
	                        	   		<i class="glyphicon glyphicon-envelope"> </i>
	                       				Open
	                        	</a>
	                        	<a th:if="${message_room.sender.id != my_id}"
	                        	   th:href="@{ '/message/room/' + ${message_room.sender.id} }"
	                        	   class="btn btn-primary">
	                       				<i class="glyphicon glyphicon-envelope"> </i>
	                       				Open
	                        	</a>
                        	</div> -->
                        	
 	                        	<a th:href="@{'/message/job_room/' + ${message_room.job != null ? message_room.job.id : 0} + '/' + ${message_room.sender.id == my_id ? message_room.receiver.id : message_room.sender.id}}"
	                        	   class="btn btn-primary">
	                        	   		<i class="glyphicon glyphicon-envelope"> </i>
	                       				Open
	                        	</a>
                        </td>
                    </tr>

                </table>

			</div>
			
		</div>
	</div>
</body>
</html>

